// COLORS
$itemBorder: black;
$loadMoreBtn: #008CFF;
$highlight: rgba(231,166,26,1);
//ADDITIONAL INFO ATTRIBUTES
$atack : #d32f2f;
$defense: #5D4037;
$exp: #FFB300;
$happiness: #D81B60;
$hp: #388E3C;
$weight: #7B1FA2;

// FONTS
$main-font: 'Roboto',sans-serif;

//MIXINS
@mixin types($from, $to) {
	background: linear-gradient(to bottom, $from 0%, $to 100%);
	border: 2px solid darken($to, 20%);
	border-radius: 4px;
	&:first-letter{
		text-transform: uppercase;
	}
}

